div{        /*  */
    background-color: rgb(0, 0, 0);   /*le pongo negro y se ve el logo de arg pro*/
    
}
app-redessoc{
    float: right;                /*lado derecho logo redes soc*/
    margin-top: 25px;
}